@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Source Code Pro', monospace; */


:root {
    --blanco: rgb(230, 230, 255);
    --blanco_azul: rgb(129, 181, 230);
    --gris: rgba(23, 11, 75, 0.267);
    --negro: rgb(0, 0, 10);
    --negro_transparente: rgba(0, 0, 10, 0.9);
    --azul-dark: rgb(0, 20, 50);
    --azul-claro: rgb(10, 50, 180);
    --azul-fuerte: rgb(5, 5, 250);
    --rosa: rgb(240, 94, 118);
    --purpura: rgb(92, 0, 128);
    --verde: rgb(17, 120, 120);
}

* {
    text-decoration: none;
}

html {
    width: 100vw;
    background-color: var(--negro);
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Comfortaa', cursive;
}

/* 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
 */



body {
    max-width: 1024px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    margin: 0;
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
    letter-spacing: 0.05rem;

}

main {
    width: 100%;
}

h3 {
    font-size: .7rem;
}

li{
    list-style: none;
}

.navbar {
    background-color: var(--negro_transparente);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navegador {
    margin: 0;
    text-align: right;
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 100%;
    z-index: 3;
}


.menu_container {
    width: 100%;
    background-color: var(--negro);
    transition: right 0.5s;
    position: fixed;
    display: block;
    right: -100%;


}


.menu_container a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.oculto {
    display: none;
}

.burguerBx {
    align-self: center;
    justify-self: center;
    padding-right: 1.5vw;
    margin-left: auto;
}


.burguerBar:checked+label+.menu_container {
    right: 50px;
}


.ricardodev_container {
    padding: 1rem 0;
    margin-top: 0.2rem;
    margin-left: 2rem;
    display: inline;
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

.ricardo_text {
    color: var(--blanco);
    font-weight: 700;
}

.dev_text {
    font-weight: 700;
}


.home_section {
    display: grid;
    position: relative;
    width: 100%;
    /* margin-bottom: -5rem; */
    padding-top: 3rem;
}


.home_container {
    margin: auto;
    display: flex;
    flex-direction: column;

}

.home_container h2 {
    font-size: 1.4rem;
    font-weight: 300;
}

.home_container h2 span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blanco_azul);
}

.home_title {
    font-size: 1.8rem;
    margin: auto;
}

.home_description {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    letter-spacing: normal;
    color: var(--rosa);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: auto;
    margin-bottom: 1rem;
}

.academlo_text {
    color: var(--purpura);
    font-weight: 800;
}

.academlo_text a {
    color: var(--verde);
    font-weight: 500;
    text-decoration: none;
}


.social_container {
    display: flex;
    justify-content: center;
}

.social_links {
    width: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.8rem;
    /* margin-bottom: 2rem; */
    /* padding: 5px; */
}

.social_links a {
    color: var(--blanco_azul);
    align-self: center;
}

.social_links a i {
    margin: 1rem;
}

.home_section figure img {
    display: none;
}


.about_section {
    position: relative;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.about_description_container {
    display: flex;
    flex-direction: column;
}

.foto_perfil {
    flex-grow: 3;
}

.foto_perfil img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: auto;
}

.about_title {
    font-size: 1rem;
    font-weight: 300;
}

.about_subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
}

.about_description {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1rem;
    /* margin-bottom: 3rem; */
    line-height: 1.8rem;

}

.about_description a {
    text-decoration: none;
}


.skills_section {
    position: relative;
    width: inherit;
    padding-top: 2rem;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.skills_title {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .8rem;
}

.skills_icons {
    display: grid;
    flex-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
    margin: auto;
}

.skills_icons>div {
    display: flex;
    flex-direction: column;
    /* height: 5rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    /* background-color: gray; */
    align-items: center;
    justify-content: end;
    padding-bottom: 0.3rem;

}

.skills_icons div div {
    margin: auto;
}

.skills_icons div i {
    font-size: 1.7rem;
    align-self: center;
}

.skills_htmlcss_icon i {
    /* font-size: 3.5rem; */
    margin: 0.1rem;
}

.skills_icons div span {
    /* background-color: blue; */
    width: inherit;
    font-size: .7rem;
}



.portafolio_section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.portafolio_title {
    font-size: 1rem;
    font-weight: 300;
}

.projects_container {
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    padding: 0 1rem;
}




.projects_container div {
    /* background-color: aqua; */
    /* margin: 10px 20px; */
    border: 5px solid transparent;
}

.projects_container div img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


.contact_section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts_title {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 0.4rem;
}


.contacts_container button {
    cursor: pointer;
    background: var(--azul-dark);
    border: solid 1px var(--blanco_azul);
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
    color: var(--blanco);
    font-weight: 500;
    border-radius: 8px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 15px 15px 5px var(--gris);
    transition: background-color 0.5s ease;
}

.contacts_container button:hover {
    background-color: var(--azul-fuerte);
    transition: background-color 0.3s ease;
}

footer {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}


main section {
    /* background-color: aliceblue; */
    width: 100%;
    margin-top: 3rem;
}





@media screen and (max-width: 800px) {
    .home_description {
        max-width: 360px;
    }



}

@media screen and (min-width: 400px) {
    html {
        /* display: none; */
        background-color: aqua;
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 600px) {
    html {
        /* display: none; */
        background-color: aqua;
    }
}

@media screen and (min-width: 700px) {


    .navegador {
        position: initial;
    }

    .burgerBarIcon {
        display: none;
    }

    .menu_container {
        display: flex;
        flex-direction: row;
        right: 0;
        background-color: transparent;
        position: relative;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .burguerBx {
        margin-left: 2rem;
        right: 0;
        padding-left: 1rem;
    }


    .home_title {
        max-width: 650px;
    }

    .about_description {
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .skills_icons {
        gap: 1rem;
    }


    .skills_icons div div {
        margin-top: 2rem;
    }

    .skills_icons div i {
        font-size: 2.5rem;
    }


    .skills_icons div span {
        font-size: 1rem;

    }

    .skills_icons div div {
        font-size: 2rem;
    }


}

@media screen and (min-width: 800px) {

    body {
        max-width: 95%;
        position: relative;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .home_section {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 5rem;
        align-items: center;

    }

    .home_img_container {
        width: 70%;
        margin: auto;
        padding: 0;

    }

    .home_section figure img {
        width: 100%;
        display: inline;
        object-fit: cover;

    }

    .home_container {
        text-align: left;
        max-width: 70%;
        flex-wrap: nowrap;
        margin: 0;

    }

    .home_description {
        width: 500px;
        position: relative;
        padding: 0px;
    }

    .social_container {
        display: flex;
        justify-content: left;
        margin: 0px;
    }

    .social_links {
        display: flex;
        flex-direction: row;
        margin-left: -1rem;
        justify-content: space-between;
    }

    .social_links a {
        width: 8rem;
        /* align-self: center; */
    }



    .about_section {
        display: flex;
        flex-direction: row;
    }

    .foto_perfil {
        width: 100%;
        margin: auto;
        padding: 0;
        flex-grow: 5;
    }


    .about_description_container {
        text-align: left;
        padding-left: 1.8rem;
        flex-grow: 1;
    }

    .about_title {
        margin-top: 1rem;
    }

    .about_description {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }


}

@media screen and (min-width: 900px) {

    body,
    body header {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }

}







/* --------------------------------- */
/* hovers */

.social_links a:hover {
    box-sizing: content-box;
    /* background-color: aliceblue; */
    /* border: solid 2px var(--blanco_azul); */
    border-radius: 20%;
    transform: scale(1.5);
    /* font-size: 2.3rem; */
    color: var(--azul-fuerte);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}


.navegador a:hover {
    color: var(--blanco);
    background-color: var(--purpura);
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.1);
    transform: translateY(5px);

}

.projects_container img:hover {
    background-color: inherit;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    /* opacity: 0.1; */
    /* transform: scale(1.1); */
    /* backdrop-filter: blur(5px);     */
}






a {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

body {
    max-width: 1024px;
}


html {
    background-color: var(--negro);
}

.cvBx{

    /* overflow: hidden; */
    position: relative;
    width: fit-content;
    transform: scaleY(1);
    background-color: #eee;
    color: #111;
    transition: transform 1s ease;
    margin-bottom: 2em;
    padding: 1em;
    padding-top: 1.5em;
}

.cvBxHide{
    position: absolute;
    transform: scaleY(0);
    transition: transform 0.8s ease;
}

.cv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 16px;
    /* border: 1px solid #aaa; */
    box-shadow: 0 0 3px 1px #aaa;
    margin-bottom: 1em;
    background-color: #fff;
    position: relative;
    width: 210mm;
    height: 297mm;

}


.cv  p{
    line-height: 1.4rem;
    letter-spacing: 1px;
    /* background-color: aqua; */
}

.cv ul li{
    /* background-color: aqua; */
    margin-bottom: -1.3rem;
    margin-left: -1rem;
}

.info {
    padding: 1em 2em;
    margin-right: 1em;
}



.info h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.info h2 {
    font-size: 2rem;
}

.info h3 {
    font-size: 1.2rem;
}


.info .contact {
    list-style: none;
    margin-left: -1rem;

}


.info ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #111;
    margin-bottom: 1rem;
}
.info ul li i {
    margin-right: 1rem;
    color: #111;
}

.cvicon {
    color: #dff;
    font-size: 1.5rem;
}

.listas {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.cv h2 {
    margin-bottom: 0.5rem;
}
h4 {
    margin-bottom: -2rem;
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
    margin-bottom: -1.5rem;
    /* margin-top: -0.5rem; */
}


.acercacv{
    padding-right: 2.5rem;
    text-align: justify;
}

.acercacv h2{
    margin-top: 1.7rem;
    margin-bottom: -0.9rem;
    /* background-color: aqua; */
    
}
.acercacv h3{
    font-size: 1.1rem;
    margin-bottom: -0.9rem;
}


.btn_cv:hover{
    box-shadow: 0 0 8px 2px #111;
    background-color: rgb(15, 39, 75);
    transition: background-color 0.3s ease;
}
.btn_cv{
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 24px;
    background-color: var(--azul-dark);
    color: #dff;
    border: 0;
    width: 25%;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px 1px #111;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.closebtn:hover{
    color: rgba(255, 98, 0, 0.906);
    transition: color 0.2s ease;
}
.closebtn{
    cursor: pointer;
    position: absolute;
    right: 0.5em;
    top: 0;
    color: rgba(2, 60, 131, 0.906);
    transition: color 0.4s ease;
}

.algo{
    padding: 1em;
    color: #111;
    font-size: 32px;
    background-color: #aaa;
}


#linkcv{
    color: var(--azul-claro);
    font-weight: 800;
}

.bx{
    font-size: 3rem;
    color: #fff;
    
}