@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Source Code Pro', monospace; */


:root {
    --blanco: rgb(230, 230, 255);
    --blanco_azul: rgb(129, 181, 230);
    --gris: rgba(23, 11, 75, 0.267);
    --negro: rgb(0, 0, 10);
    --negro_transparente: rgba(0, 0, 10, 0.9);
    --azul-dark: rgb(0, 20, 50);
    --azul-claro: rgb(10, 50, 180);
    --azul-fuerte: rgb(5, 5, 250);
    --rosa: rgb(240, 94, 118);
    --purpura: rgb(92, 0, 128);
    --verde: rgb(17, 120, 120);
}



html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    margin: 0;
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
    letter-spacing: 0.05rem;

}

h3 {
    font-size: .7rem;
}



.navbar {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-left: inherit;
    padding-right: inherit;
    background-color: var(--negro_transparente);
    z-index: 2;
    backdrop-filter: blur(3px);

    /* box-shadow:  0px 1px 50px 2px rgba(7, 9, 36, 0.81); */

}

.menu_container {
    display: none;
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-rows: auto; */
    /* gap: 1rem; */
    /* align-items: center; */
    /* justify-items: end; */
}

.navegador {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    /* margin: auto; */

}



.navegador a {
    /* background-color: aliceblue; */
    /* border-radius: 5%; */
    padding-left: 1rem;
    width: 100%;
    text-decoration: none;
    font-size: 0.8rem;
    /* font-family: 'Oswald', sans-serif; */
    /* letter-spacing: normal; */
    margin: 0 .25rem;
    
}

.navegador a div {
    /* height: max-content; */
    /* padding: 0 0.8rem; */
    /* padding-left: 1rem; */
    margin: auto;
    /* background-color: aliceblue; */
    text-align: right;
    font-size: 1rem;

}


.ricardodev_container {
    padding: 1rem 0;
    margin-top: 0.2rem;
    margin-left: 2rem;
    display: inline;
    font-size: 0.8rem;
}

.ricardo_text {
    color: var(--azul-claro);
    font-weight: 700;
}

.dev_text {
    font-weight: 700;
}





body {
    position: relative;
}




.home_section {
    display: grid;
    position: relative;
    width: 100%;
    /* margin-bottom: -5rem; */
    padding-top: 3rem;
}


.home_container {
    margin: auto;
    display: flex;
    flex-direction: column;

}

.home_container h2 {
    font-size: 1.4rem;
    font-weight: 300;
}

.home_container h2 span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blanco_azul);
}

.home_title {
    font-size: 1.8rem;
    margin: auto;
}

.home_description {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    letter-spacing: normal;
    color: var(--rosa);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: auto;
    margin-bottom: 1rem;
}

.academlo_text {
    color: var(--purpura);
    font-weight: 800;
}

.academlo_text a {
    color: var(--verde);
    font-weight: 500;
    text-decoration: none;
}


.social_container {
    display: flex;
    justify-content: center;
}

.social_links {
    width: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.8rem;
    /* margin-bottom: 2rem; */
    /* padding: 5px; */
}

.social_links a {
    color: var(--blanco_azul);
    align-self: center;
}

.social_links a i {
    margin: 1rem;
}

.home_section figure img {
    display: none;
}


.about_section {
    position: relative;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.about_description_container {
    display: flex;
    flex-direction: column;
}

.foto_perfil {
    flex-grow: 3;
}

.foto_perfil img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: auto;
}

.about_title {
    font-size: 1rem;
    font-weight: 300;
}

.about_subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
}

.about_description {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1rem;
    /* margin-bottom: 3rem; */
    line-height: 1.8rem;

}

.about_description a {
    text-decoration: none;
}


.skills_section {
    position: relative;
    width: inherit;
    padding-top: 2rem;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.skills_title {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .8rem;
}

.skills_icons {
    display: grid;
    flex-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
    margin: auto;
}

.skills_icons>div {
    display: flex;
    flex-direction: column;
    /* height: 5rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    /* background-color: gray; */
    align-items: center;
    justify-content: end;
    padding-bottom: 0.3rem;

}

.skills_icons div div {
    margin: auto;
}

.skills_icons div i {
    font-size: 1.7rem;
    align-self: center;
}

.skills_htmlcss_icon i {
    /* font-size: 3.5rem; */
    margin: 0.1rem;
}

.skills_icons div span {
    /* background-color: blue; */
    width: inherit;
    font-size: .7rem;
}



.portafolio_section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.portafolio_title {
    font-size: 1rem;
    font-weight: 300;
}

.projects_container {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 0 1rem;
}






.projects_container a img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* background-color: var(--azul-dark); */
}

.contact_section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.contacts_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 0.8rem; */

}

.contacts_title {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 0.4rem;
}


button {
    background: var(--azul-dark);
    border: solid 1px var(--blanco_azul);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--blanco);
    font-weight: 500;
    border-radius: 8px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 15px 15px 5px var(--gris);
    margin: 0 0.5rem;

}

footer {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}


main section {
    /* background-color: aliceblue; */
    margin-top: 3rem;
}





@media screen and (max-width: 800px) {
    .home_description {
        max-width: 360px;
    }

    /* **| HAMBURGUESA | ***/

    .menu_container {
        position: relative;
    }

    #menu_container:target {
        /* background-color: aliceblue; */
        margin-right: 1rem;
        padding-right: 1rem;
        
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        background-color: var(--negro);
        padding-bottom: 1.2rem;
        /* height: 100vh; */
    }



}

@media screen and (min-width: 400px) {
    html {
        /* display: none; */
        background-color: aqua;
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 600px) {
    html {
        /* display: none; */
        background-color: aqua;
    }
}

@media screen and (min-width: 700px) {



    .navbar div,
    .navegador a {
        font-size: 1.2rem;
        /* background-color: aliceblue; */
    }


    .home_title {
        max-width: 650px;
    }

    .about_description {
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .skills_icons {
        gap: 1rem;
    }


    .skills_icons div div {
        margin-top: 2rem;
    }

    .skills_icons div i {
        font-size: 2.5rem;
    }


    .skills_icons div span {
        font-size: 1rem;

    }

    .skills_icons div div {
        font-size: 2rem;
    }


    .projects_container {
        /* para pantallas grandes */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 0 1rem;
        gap: 2rem;

    }

    .contacts_container button {
        margin: 0.2rem 1.2rem;
    }
}

@media screen and (min-width: 800px) {

    .navegador{
        display: flex;
        flex-direction: row;
    }
    .menu_open{
        /* background-color: aliceblue; */
        display:none;
    }


    .navegador .menu_container{
        display: flex;
        /* height: auto; */
        margin: auto;
        flex-direction: row;
        /* height: inherit; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
        /* grid-template-rows: 1fr; */
        /* align-content: center; */
        
    }



    body {
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .home_section {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 5rem;
        align-items: center;

    }

    .home_img_container {
        width: 70%;
        margin: auto;
        padding: 0;

    }

    .home_section figure img {
        width: 100%;
        display: inline;
        object-fit: cover;

    }

    .home_container {
        text-align: left;
        max-width: 70%;
        flex-wrap: nowrap;
        margin: 0;

    }

    .home_description {
        width: 500px;
        position: relative;
        padding: 0px;
    }

    .social_container {
        display: flex;
        justify-content: left;
        margin: 0px;
    }

    .social_links {
        display: flex;
        flex-direction: row;
        margin-left: -1rem;
        justify-content: space-between;
    }

    .social_links a {
        width: 8rem;
        /* align-self: center; */
    }



    .about_section {
        display: flex;
        flex-direction: row;
    }

    .foto_perfil {
        width: 100%;
        margin: auto;
        padding: 0;
        flex-grow: 5;
    }


    .about_description_container {
        text-align: left;
        padding-left: 1.8rem;
        flex-grow: 1;
    }

    .about_title {
        margin-top: 1rem;
    }

    .about_description {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@media screen and (min-width: 900px) {

    body,
    body header {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .projects_container {
        /* para pantallas grandes */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

}







/* --------------------------------- */
/* hovers */

.social_links a:hover {
    box-sizing: content-box;
    /* background-color: aliceblue; */
    /* border: solid 2px var(--blanco_azul); */
    border-radius: 20%;
    transform: scale(1.5);
    /* font-size: 2.3rem; */
    color: var(--azul-fuerte);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}


.navegador a div:hover {
    color: var(--blanco);
    background-color: var(--purpura);
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.1);
    transform: translateY(5px);

}

.projects_container a:hover {
    background-color: inherit;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    opacity: 0.1;
    transform: scale(1.1);
    /* backdrop-filter: blur(5px);     */
}


.contacts_container button:hover {
    background-color: var(--azul-fuerte);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}